.goal-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #a14a4a;
  color: white;
  background-color: #a14a4a;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  
}